NODE_ENV=development
PORT=4000
PROD_MONGO_URI=mongodb+srv://..
DEV_MONGO_URI=mongodb://localhost:27017/DEV-my-pomodoro
TEST_MONGO_URI=mongodb://localhost:27017/TEST-my-pomodoro
SECRET=f9d1e69365fa3f662ffd4b4138ef9f94027d496ed6508760371495a7debf1cbc
# SECRET: Generate Random Hex e.g https://www.browserling.com/tools/random-hex
